@import '../../../../styling/theme/globals/site.variables';

.table-cell-text {
  white-space: pre-wrap;
}

.ui.sortable.table {
  th {
    background-color: @grey2 !important;
    color: #ffffff !important;
    padding: 2px 0.78571429em !important;
  }
  th.sorted {
    background-color: @greyExtraTable !important;
    color: #ffffff !important;
  }
  tr:nth-child(2n) {
    background: @grey6 !important;
  }

  tr:hover td {
    background: #F1FCFF !important;
  }
}

.ui.selectable.table {
  cursor: pointer;
}
