@import '../../../../styling/theme/globals/site.variables';

.table-cell-text {
  white-space: pre-wrap;
}
.table-cell-select {
  white-space: pre-wrap;
  background-color: #d9d9d9 !important;
}

.ui.table thead tr:first-child > th:first-child {
  border-radius: 3px 0 0 0 !important;
}

.ui.table thead tr:first-child > th:last-child {
  border-radius: 0 3px 0 0;
}
.ui.table tr td:first-child {
  border-radius: 0 0 0 3px !important;
}
.ui.table tr td:last-child {
  border-radius: 0 0 3px 0 !important;
}
.ui.sortable.table {
  th {
    background-color: @grey2 !important;
    color: #ffffff !important;
    padding: 2px 0.78571429em !important;
    cursor: default !important;
  }
  th.sorted {
    background-color: @greyExtraTable !important;
    color: #ffffff !important;
  }
  tr:nth-child(2n) {
    background: @grey6 !important;
  }

  tr:hover td {
    background: #f1fcff !important;
  }
  .sortable-th {
    cursor: pointer !important;
  }
  .ActivityLog {
    cursor: pointer !important;
    width: 120px;
  }
}

.ui.selectable.table {
  cursor: pointer;
}
