@import './globals/site.variables';
@mobileNavTopPadding: 66px;

.container-mobile {
  padding-top: @mobileNavTopPadding;

  .ui.menu.mobile-menu {
    background-color: #fff;
    border-bottom: 1px solid @grey;
  }

  .mobile-content {
    height: calc(100vh - @mobileNavTopPadding);
    padding-bottom: 15px;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  .sidebar.menu {
    max-width: calc(100% - 30px);
  }

  .item.brand-logo {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .bars.large.icon {
    margin: 0 !important;
  }
}
