.active-prices-widget-table {
  font-size: 12px !important;
}

.widget-item-icon {
    cursor: pointer !important;
}

.price-history-widged-td {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
