@import './globals/site.variables';

.marginBottom {
  margin-bottom: 0;
}
.text-align-right {
  text-align: right;
}
.text-capitalize {
  text-transform: capitalize;
}
.load-cell {
  padding: 15px 20px 15px 15px;
  background-color: @grey;
  border-radius: 10px;
  overflow: hidden;
  min-height: 82px;
  .load-cell-header {
    position: relative;
  }
  .edit-icon {
    position: absolute;
    top: -1px;
    right: -14px;
    z-index: 10;
  }
}
.edit-icon {
  color: @black;
  padding: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  &:hover {
    color: @black;
  }
}

.kiosk-info {
  button {
    margin: 0 0 10px !important;
    width: 100%;
  }
}

.modal-form {
  .content {
    display: block;
    width: 100%;
    font-size: 1em;
    line-height: 1.4;
    padding: 1.5rem;
    background: #fff;
  }
  .actions {
    background: #f9fafb;
    padding: 1rem;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    text-align: right;
  }
}
