@import './globals/site.variables';

.marginBottom {
  margin-bottom: 0;
}
.text-align-right {
  text-align: right;
}
.text-capitalize {
  text-transform: capitalize;
}
.load-cell-row {
  padding: 0 1rem !important;
  &:last-child {
    .load-cell {
      border-bottom: none;
    }
  }
}
.load-cell {
  padding: 15px 20px 15px 15px;
  height: 100%;
  border-right: 1px dashed #d4d4d4;
  border-bottom: 1px dashed #d4d4d4;
  overflow: hidden;
  min-height: 135px;
  &:last-child {
    border-right: none;
  }
  .load-cell-header {
    position: relative;
  }
  .load-cell-content {
    display: flex;
    justify-content: flex-start;
  }
  .load-cell-icon {
    margin: 0 10px 0 0;
    width: 50px;
    flex-shrink: 0;
    align-self: center;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  .load-cell-body {
    width: 100%;
    p:not(:last-child) {
      margin: 0 0 4px;
    }
  }
  .edit-icon {
    position: absolute;
    top: -1px;
    right: 0;
    z-index: 10;
  }
}
.edit-icon {
  color: @black;
  padding: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  &:hover {
    color: @black;
  }
}

.kiosk-info {
  button,
  & .button {
    margin: 0 0 10px !important;
    width: 100%;
  }
}

.modal-form {
  .content {
    display: block;
    width: 100%;
    font-size: 1em;
    line-height: 1.4;
    padding: 1.5rem;
    background: #fff;
  }
  .actions {
    background: #f9fafb;
    padding: 1rem;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
    text-align: right;
  }
}

.add-scale-button {
  padding: 15px 20px 10px 15px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
