@import './globals/site.variables';

.marginBottom {
  margin-bottom: 0;
}
.text-align-right {
  text-align: right;
}
.text-capitalize {
  text-transform: capitalize;
}
.load-cell {
  padding: 15px 20px 15px 15px;
  background-color: @grey;
  border-radius: 10px;
  overflow: hidden;
  min-height: 82px;
  .load-cell-header {
    position: relative;
  }
  .edit-icon {
    position: absolute;
    top: -1px;
    right: -14px;
    z-index: 10;
  }
}
.edit-icon {
  color: @black;
  padding: 0;
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  &:hover {
    color: @black;
  }
}

.kiosk-info {
  button {
    margin: 0 0 10px !important;
    width: 100%;
  }
}
.info-row {
  padding: 5px 0;
  display: flex;
  .info-title {
    width: 150px;
    flex-shrink: 0;
    font-weight: 700;
  }
  .info-description {
    width: 100%;
  }
}
