.custom-button-blue {
  white-space: nowrap;
  overflow: hidden;
  background-color: #389bd5 !important;
  color: white !important;
  .icon {
    background-color: #228dca !important;
    color: white;
  }
}

.custom-button-default {
  white-space: nowrap;
  overflow: hidden;
  background-color: #ffffff !important;
  color: #828282 !important;
  border: 1.5px solid #bdbdbd !important;
  border-radius: 5px !important;
  width: 500px;
  max-width: 100%;
  padding: 15px;
  .icon {
    background-color: #f2f2f2 !important;
    color: #828282;
  }
}
