.ui.segment.stats-card {
  margin: 1em 0 !important;

  .stats-card-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 0.5em !important;

    & > * {
      flex: 1 1 49%;
      margin-bottom: 0.5em !important;
    }

    .content {
      text-align: center;
    }

    .sub.header {
      text-align: center;
    }
  }
}
