@tablet: ~'only screen and (min-width: 720px) and (max-width: 959px)';
@mobile: ~'only screen and (max-width: 600px)';
.toolbar-container {
  margin-bottom: 10px !important;
  .toolbar-dropdown {
    margin-left: -17px !important;
    @media @mobile {
      margin-left: 0px !important;
    }
  }
  .kiosk-toolbar-dropdown {
    margin-left: 0px !important;
    @media @mobile {
      margin-left: 0px !important;
    }
  }
  .products-toolbar-dropdown {
    margin-left: -5px !important;
    @media @mobile {
      margin-left: 0px !important;
    }
  }
  .manufactur-toolbar-dropdown {
    margin-left: -10px !important;
    @media @mobile {
      margin-left: 0px !important;
    }
  }
}

.dashboard-table {
  thead tr:first-child > th:first-child {
    border-radius: 3px 0 0 0 !important;
  }
  thead tr:first-child > th:last-child {
    border-radius: 0 3px 0 0 !important;
  }
  tr:last-child > td:first-child {
    border-radius: 0 0 0 3px !important;
  }
  tr:last-child > td:last-child {
    border-radius: 0 0 3px 0 !important;
  }

  tr {
    font-size: 11px;
  }
}
