@import '../../../../styling/theme/globals/site.variables';

.table-cell-text {
  white-space: pre-wrap;
}

.ui.sortable.table {
  th {
    background-color: @grey2 !important;
    color: #ffffff !important;
    padding: 2px 0.78571429em !important;
    cursor: default !important;
  }
  th.sorted {
    background-color: @greyExtraTable !important;
    color: #ffffff !important;
  }
  tr:nth-child(2n) {
    background: @grey6 !important;
  }
  .sortable-th {
    cursor: pointer !important;
  }
}

.table-cell-text-transaction {
  vertical-align: top;
}

.table-cell-bg-grey {
  background: #f2f2f2 !important;
}

.table-cell-bg-white {
  background: #ffffff !important;
}

.transactions-table {
  cursor: unset !important;
  tbody:hover tr td {
    background-color: #f1fcff !important;
  }
}
.tb-refills, .tb-sales{
line-height: normal
}
// .active-body tr td {
//   background-color: #F2F2F2 !important;
// }
