.purchase-price-header {
  width: 100px !important;
  text-align: left !important;
  white-space: pre-wrap !important;
  padding: 0.3em 0.78571429em !important;
}

.custom-widgets {
  .row > .header {
    font-size: 14px !important;
  }
  .ui.segment.stats-card .stats-card-header {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .stats-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .header {
      width: 100%;
    }
  }
  .column-right {
    margin-bottom: 0 !important;
    display: flex;
    justify-content: center;
    i {
      margin-right: 0;
    }
  }
}

@media only screen and (min-width: 992px) {
  .ui.grid > .row > [class*='three wide computer'].column {
    width: 20% !important;
  }
}
