@import './globals/site.variables';

.purchase-price-header {
  width: 100px !important;
  text-align: left !important;
  white-space: pre-wrap !important;
  padding: 0.3em 0.78571429em !important;
}

.ui.sortable.table thead th.sorted {
  background-color: @greyExtraTable !important;
}
