@mobile: ~'only screen and (max-width: 600px)';
.img-wrapper {
  img {
    width: 100%;
    height: auto;
  }
  svg {
    margin: 0 auto;
    width: 50%;
    display: block;
  }

  .image-upload-text {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
}
.products-toolbar {
  position: sticky !important;
  z-index: 1;
  top: 50px;
  @media @mobile {
    position: initial !important;
    margin-top: 0px !important;
    width: 100% !important;
  }
}

.filename-wrapper {
  overflow: hidden;
  text-overflow: ellipsis;
}
.label-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  .modify-button {
    cursor: pointer;
    display: inline-block;
    height: 36px;
    font-weight: 700;
    line-height: 1em;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
    color: #828282;
    border: 1.5px solid #bdbdbd;
    border-radius: 5px;
    width: 150px;
    .label-content {
      display: flex;
      height: 100%;
      align-items: center;
      .icon-side {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
      }
      .label-side {
        margin-left: 14px;
        text-align: center;
      }
    }
  }

  label {
    display: block;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 100%;
    }
  }
  input {
    display: none;
  }
}

.image-button {
  width: 150px !important;
  height: 36px !important;
  padding-left: 50px !important;
  margin: 10px !important;
}

.not-active-input {
  input {
    opacity: 0.7 !important;
    cursor: default;
    pointer-events: none !important;
  }
  input:focus {
    background-color: none !important;
    color: rgba(0, 0, 0, 0.87) !important;
    border: 1px solid rgba(34, 36, 38, 0.15) !important;
  }
  i {
    opacity: 0.5 !important;
  }
}

.image-warning {
  color: red;
  text-align: center;
  font-size: 12px;
}

.product-field-custom-h5 {
  font-size: 15px !important;
  font-weight: bold;
  margin: 0 !important;
  margin-bottom: 10px !important;
  padding: 0 !important;
  display: inline !important;
  margin-top: 20px !important;
}

.product-table {
  thead tr:first-child > th:first-child {
    border-radius: 3px 0 0 0 !important;
  }
  thead tr:first-child > th:last-child {
    border-radius: 0 3px 0 0 !important;
  }
  tr:last-child > td:first-child {
    border-radius: 0 0 0 3px !important;
  }
  tr:last-child > td:last-child {
    border-radius: 0 0 3px 0 !important;
  }

  tr {
    font-size: 11px;
  }
}
