.img-wrapper {
  .img-button {
    display: none;
  }
  label {
    display: block;
    text-align: center;
    cursor: pointer;
  }
  img {
    width: 100%;
    height: auto;
  }
  svg {
    margin: 0 auto;
    width: 50%;
    display: block;
  }
}

.not-active-input {
  input {
    opacity: 0.7 !important;
    cursor: default;
    pointer-events: none !important;
  }
  input:focus{
    background-color: none !important;
    color: rgba(0,0,0,.87) !important;
    border: 1px solid rgba(34,36,38,.15) !important;
  }
  i {
    opacity: 0.5 !important;
  }
}
