.custom_tool_tip {
  width: 142px;
  border: 1px solid #bdbdbd;
  background: #ffffff;
  color: #7b7b7b;
  font-family: Lato;
  font-weight: 900;
  .custom_tool_tip_container {
    margin: 0px;
    margin-top: 10px;
    padding: 10px 20px auto 15px;
    text-align: center;
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }
  .custom_tool_tip_container_parent {
    display: flex;
    margin-bottom: 10px;
  }
  .custom_tool_tip_container_narrow {
    width: 70px;
  }

  .custom_tool_tip_container_wide {
    flex: 1;
    width: 115px;
  }
}
