.green {
  color: green;
}
.red {
  color: red;
}
.yellow {
  color: yellow;
}
th {
  outline: none;
}
.pagination {
  float: right;
}
#search-bar-0 {
  border-radius: 20px;
  width: 500px;
}
/* .grid-align {
  margin: 0px !important;
} */
.search-label {
  margin-left: 2rem;
}
/* .ui.grid > .row {
  padding-left: 1rem;
  padding-right: 1rem;
} */
