.activity-log-filter-row {
  margin: 10px;
  margin-left: 0.05rem;
  margin-right: 0.05rem;
}

.kiosk-inventory-total-values {
  border-collapse: collapse !important;
  border: none !important;
  width: 100% !important;
}

.kiosk-inventory-total-values-cell {
  border: none !important;
  padding: 0px !important;
}

.kiosk-inventory-total-values-cell-right {
  text-align: right !important;
}

.tool-tip {
  display: inline-block;
  margin: 0 0 0.28571429rem;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: 700;
  text-transform: none;
}

.header-col {
  background: #828282;
  border: 1px solid #e5e5e5;
  font-size: 11px;
  font-weight: 700;
  text-align: inherit;
  text-transform: none;
  box-sizing: content-box;
  margin: 1px 1px !important;
}

.header-row {
  padding: 2px 0px !important;
  color: white;
}

.cell-col {
  font-size: 14px;
  text-align: inherit;
  text-transform: none;
  box-sizing: content-box;
  margin: 1px 1px !important;
}

.img-note {
  font-size: 11px;
  line-height: 13px;
  color: #828282;
  width: 37% !important;
}

.label-playlist-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  .modify-playlist-button {
    cursor: pointer;
    display: inline-block;
    height: 36px;
    font-weight: 700;
    line-height: 1em;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
    color: #828282;
    border: 1.5px solid #bdbdbd;
    border-radius: 5px;
    width: 190px;
    .label-playlist-content {
      display: flex;
      height: 100%;
      align-items: center;
      .icon-playlist-side {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
      }
      .label-playlist-side {
        margin-left: 14px;
        text-align: center;
      }
    }
  }

  label {
    display: block;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 100%;
    }
    input {
      display: none;
    }
  }
}
.image-playlist-warning {
  color: red;
  text-align: center;
  font-size: 12px;
}
