@tablet: ~'only screen and (min-width: 720px) and (max-width: 959px)';
@mobile: ~'only screen and (max-width: 600px)';

.activity-log-filter-row {
  margin: 10px;
  margin-left: 0.05rem;
  margin-right: 0.05rem;
}

.kiosk-inventory-total-values {
  border-collapse: collapse !important;
  border: none !important;
  width: 100% !important;
}

.kiosk-inventory-total-values-cell {
  border: none !important;
  padding: 0px !important;
}

.kiosk-inventory-total-values-cell-right {
  text-align: right !important;
}

.tool-tip {
  display: inline-block;
  margin: 0 0 0.28571429rem;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.92857143em;
  font-weight: 700;
  text-transform: none;
}

.header-col {
  background: #828282;
  border: 1px solid #e5e5e5;
  font-size: 11px;
  font-weight: 700;
  text-align: inherit;
  text-transform: none;
  box-sizing: content-box;
  margin: 1px 1px !important;
}

.header-row {
  padding: 2px 0px !important;
  color: white;
}

.cell-col {
  font-size: 14px;
  text-align: inherit;
  text-transform: none;
  box-sizing: content-box;
  margin: 1px 1px !important;
}

.img-note {
  font-size: 11px;
  line-height: 13px;
  color: #828282;
  width: 37% !important;
}

.label-playlist-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  .modify-playlist-button {
    cursor: pointer;
    display: inline-block;
    height: 36px;
    font-weight: 700;
    line-height: 1em;
    white-space: nowrap;
    overflow: hidden;
    background-color: #fff;
    color: #828282;
    border: 1.5px solid #bdbdbd;
    border-radius: 5px;
    width: 190px;
    .label-playlist-content {
      display: flex;
      height: 100%;
      align-items: center;
      .icon-playlist-side {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
      }
      .label-playlist-side {
        margin-left: 14px;
        text-align: center;
      }
    }
  }

  label {
    display: block;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-size: 100%;
    }
    input {
      display: none;
    }
  }
}
.image-playlist-warning {
  color: red;
  text-align: center;
  font-size: 12px;
}

.duration-error {
  color: #9f3a38 !important;
  white-space: normal;
  background: #fff !important;
  border: 1px solid #e0b4b4 !important;
  margin-right: 20px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// .table-cell-text:not(:last-of-type)::after {
//   // content: 'assds';
// }
.custom_tool_tip {
  width: 142px;
  border: 1px solid #bdbdbd;
  background: #ffffff;
  color: #7b7b7b;
  font-family: Lato;
  font-weight: 900;
  .custom_tool_tip_container {
    margin: 10px 0px 0 15px;
  }
  .custom_tool_tip_container_parent {
    display: flex;
    margin-bottom: 0px;
  }
  .custom_tool_tip_container_narrow {
    width: 75px;
  }

  .custom_tool_tip_container_wide {
    flex: 1;
    width: 115px;
  }
}

.add_kiosk_button {
  margin-right: -4px;
  @media @mobile {
    margin-right: 0px;
  }
}

.download_orderlist_button {
  padding-left: 35px;
  @media @mobile {
    padding-left: 0px;
  }
}

.download_packlist_button {
  padding-left: 50px;
  @media @mobile {
    padding-left: 0px;
  }
}
.download_orderlist_button_admin {
  padding-left: 10px;
  @media @mobile {
    padding-left: 0px;
  }
}
.download_packlist_button_admin {
  padding-left: 0px;
  @media @mobile {
    padding-left: 0px;
  }
}
