.activity-log-filter-row {
  margin: 10px;
  margin-left: 0.05rem;
  margin-right: 0.05rem;
}

.kiosk-inventory-total-values {
  border-collapse: collapse !important;
  border: none !important;
  width: 100% !important;
}

.kiosk-inventory-total-values-cell {
  border: none !important;
  padding: 0px !important;
}

.kiosk-inventory-total-values-cell-right {
  text-align: right !important;
}
