.user-info {
    button,
    & .button {
      margin: 0 0 10px !important;
      width: 100%;
    }
  }
  .user-log-filter-row {
    margin: 10px;
    margin-left: 0.05rem;
    margin-right: 0.05rem;
}
.multiple-cell{
    background: #F2F2F2;
    border: 1px solid #E0E0E0;
    border-radius: 3px;
    margin: 1px 2px 2px 2px;
    padding:5px;
    display: inline-block;
}
.usr-detail-style{
  position: sticky !important;
  top: 130px;
}
.toolbar{
  position: sticky !important;
  z-index: 1;
  top: 50px;
}
